// Background Styling
.account-show {
  height: 100vh;
  background-color: black;
  background-image: url("./assets/coffee-beans.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

// Form styling
input {
  border-radius: 5px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40%;
  padding-top: 15%;
}

form {
  color: white;
}

form input {
  background-color: gray;
  border: none;
}

