.account-show {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(white,gray);
}

input {
  border-radius: 5px;
}

button {
  width: 60%;
  margin: 10px;
}

