.coffee-shops-index {
  background-position: center center;
}

p {
  margin: 0
}

.child-row {
  padding-left: 40px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.child-row:hover {
  background-color: rgb(223, 221, 221);
}

.search {
  padding-left: 28px;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 400px;
}
