.form-group {
  margin-bottom: 10px;
}

.form-group input{
  margin-left: 30px;
  margin-bottom: 10px;
  max-width: 90% !important;
}

.signup-submit {
  padding: 1px;
  width: 30%;
  margin: 10px;
  border: none;
  outline: none;
  background-color: white;
  border-radius: 5px;
}

.signup-submit:hover {

  cursor: pointer;
  background-color: rgb(32, 32, 32);
  color: white;
}